
get_symops.sh

rev0.0/main.cpp

rev0.0/SpaceGroupSymOps.cpp

rev0.0/SpaceGroupSymOps.h

rev0.0/SymOpsTest.h

SymOpsTest.h

pythonInterface/hello.cpp

pythonInterface/hello.so

pythonInterface/makefile

pythonInterface/Symmetrize.cpp

pythonInterface/test.py

SymOpsWithoutMatrices.py

test.py

customDialog/*
